<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted teal menu">
		<div class="ui container">
		<div class="header item"><i class="tree icon"></i>Discover California</div>
			<a href="/" class="item">Home</a>
			<a href="/galleries/new" class="item">Add New Location</a>
		</div>
	</div>