<% include ./partials/header %>
<h1>Index page!!</h1>

<% galleries.forEach(function(gallery){ %>
	<div>
		<h2><%= gallery.title %></h2>
		<img src= "<%= gallery.image %>" >
		<span><%= gallery.created %></span>
		<p><%= gallery.body %></p>
	</div>
<% }); %>

<% include ./partials/footer %>